.recipe_card{
    position: relative;
    background-color: orangered;
    border-radius: 10%;
    margin:40px;
    padding:0px;
    height:450px;
    width:300px;
    color:white;
    border-radius:10%;
    box-shadow: 5px 5px 4px black, -3px -2px 7px black;
}
.recipe_card:hover{
    transform: perspective(300px) translateZ(5px);
    box-shadow: 5px 5px 14px rgb(0, 0, 0,0.6), -3px -2px 12px black;

}
.recipe_img{
    border-top-left-radius:10%;
    border-top-right-radius:10%;
}
.recipe_name{
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    color:white; 
    height:42px;  
    overflow:hidden 
}
.recipe_name:hover{
    cursor: pointer;
    background-color: rgb(0,0,0,0.4);
}
.video_url{
    text-decoration: none;
    background-color:white;
    color:Red;
    font-weight:bold;
    font-size:20px;
    display: block;
    text-align: center;
    border-style:none ;
    font-family: 'Hachi Maru Pop', cursive;
}
.tags{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    font-family: 'Hachi Maru Pop', cursive;
    height:38px;
    overflow: hidden;
}
.tag{
    color:white;
    padding:5px;
    font-size: 15px;
    border:2px solid white;
    font-family: 'Hachi Maru Pop', cursive;
    margin:3px;
}
@media (max-width:456px) {
    .recipe_card{
        margin:10px 2px;
    }
}