.cat_head{
    background-color: black;
    color:white;
    font-size: 40px;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}
.categories{
    margin:0px !important;
    padding: 10px !important;
    background-image: url(
        './../../Assets/cat.jpg'
    );
    background-repeat: repeat-y;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.cat_list{
    display:flex;
    margin:10px;
    padding: auto;
    justify-content: center;
    flex-wrap:wrap-reverse;
}