
.link{
    text-decoration:none;
    color: white;
    margin:10px;

}
.navbar{
    display:flex;
    color:white;
    border-top: 5px solid rgb(255,104,1) ;
    background-color:black;
    font-size: 25px;
    font-weight:bold;
    height: 50px;
}
.active_link{
    color: rgb(255,104,1);
}