.cus_head{
    background-color: black;
    color:white;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}
.cuisines{
    margin:0px !important;
    padding: 10px !important;
    background-image: url(
        './../../Assets/homeImg2.jpeg'
    );
    background-size: cover;
    width: 100vw;
    height: 130vh;
}
.cus_list{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}